.todo-container{
    text-align: center;
}

h1{
    font-weight: 700;
    font-size: 50px;
    margin: 10px;
    margin-bottom: 25px;
}
input{
    width: 100%;
}
.item-container{
    text-align: center;
}
.mh-row{
    margin: 20px 7px;

}
.mh-button{
    padding: auto;
    min-width: 80px;
}